@font-face {
    font-family: 'cottaregular';
    src: url('../src/images/cotta_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 #nav{
    float:inline-end;
    position:absolute;
    right: 150px;
    top:20px;
    font-weight: 300;
    font-family: 'cottaregular';
    font-size: 140px;
}

li{
    text-align: center;
    color: rgba(22, 22, 22, 0.877);
}

li :hover{
    color:rgba(0, 0, 0, 0.705);
}

body{
    background-color: rgb(240, 235, 235);
} 

  
#home-text{
    color: rgba(22, 22, 22, 0.877);
    font-family: 'Lexend Mega', sans-serif;
    transition: background-color 0.25s ease-in-out;
}

#name{
    position: absolute;
    font-size: 20px;
    bottom: 210px;
    left: 200px;
}
#location{
    position: absolute;
    font-size: 20px;
    bottom: 180px;
    left: 200px;
}

#github-icon{
    position: absolute;
    bottom: 140px;
    left: 200px;
    font-size: 30px;
}

#linkedin-icon{
    position: absolute;
    bottom: 140px;
    left: 300px;
    font-size: 30px;
}

#email-icon{
    position: absolute;
    bottom: 140px;
    left: 400px;
    font-size: 30px;
}

#aboutme{
    color: rgba(22, 22, 22, 0.877);
    font-family: 'Lexend Mega', sans-serif;
}

#summary{
    position: absolute;
    bottom: 300px;
    left: 200px;
    font-size: 13px;
}

#skills-h1{
    position: absolute;
    bottom: 260px;
    left: 200px;
    font-size: 13px; 
}

#skills{
    position: absolute;
    bottom: 210px;
    left: 200px;
    font-size: 13px;
}

#tech-h1{
    position: absolute;
    bottom: 170px;
    left: 200px;
    font-size: 13px;
}

#tech{
    position: absolute;
    bottom: 145px;
    left: 200px;
    font-size: 13px;
}

#self{
    position: absolute;
    bottom: 490px;
    left: 200px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    opacity: .8;
}

#hello{
    position: absolute;
    bottom: 390px;
    left: 200px;
    font-size: 50px;
}
#resume-h1{
    position: absolute;
    bottom: 110px;
    left: 200px;
    font-size: 13px;
}

#resume{
    position: absolute;
    bottom: 85px;
    left: 200px;
    font-size: 13px;
}

#contact-text{
    font-family: 'Lexend Mega', sans-serif;
    position: absolute;
    bottom: 210px;
    left: 200px;
    font-size: 20px;
}

#social-links{
    position: absolute;
    font-size: 13px;
    top: 50px;
}

#project-container{
    font-family: 'Lexend Mega', sans-serif;
}

#project-text{
    position: absolute;
    bottom: 210px;
    left: 200px;
    font-size: 15px;
}