
 @font-face {
    font-family: 'cottaregular';
    src: url('../src/images/cotta_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 #nav{
    float:inline-end;
    position:absolute;
    right: 150px;
    top:20px;
    font-weight: 300;
    font-family: 'cottaregular';
    font-size: 140px;
}

li{
    text-align: center;
    color: rgba(22, 22, 22, 0.877);
}

li :hover{
    color:rgba(0, 0, 0, 0.705);
}

body{
    /* background-image: url(../src/images/backgroundimg.png); 
    background-repeat: no-repeat; 
    background-size: cover;  */
    background-color: rgb(240, 235, 235);
} 


#home-text{
    color: rgba(22, 22, 22, 0.877);
    font-family: 'Lexend Mega', sans-serif;
}

#name{
    position: absolute;
    font-size: 20px;
    bottom: 210px;
    left: 200px;
}
#location{
    position: absolute;
    font-size: 20px;
    bottom: 180px;
    left: 200px;
}

#github-icon{
    position: absolute;
    bottom: 140px;
    left: 200px;
    font-size: 30px;
}

#linkedin-icon{
    position: absolute;
    bottom: 140px;
    left: 300px;
    font-size: 30px;
}

#email-icon{
    position: absolute;
    bottom: 140px;
    left: 400px;
    font-size: 30px;
}

#aboutme{
    color: rgba(22, 22, 22, 0.877);
    font-family: 'Lexend Mega', sans-serif;
}

#summary{
    position: absolute;
    bottom: 300px;
    left: 200px;
    font-size: 13px;
}

#skills-h1{
    position: absolute;
    bottom: 260px;
    left: 200px;
    font-size: 13px; 
}

#skills{
    position: absolute;
    bottom: 210px;
    left: 200px;
    font-size: 13px;
}

#tech-h1{
    position: absolute;
    bottom: 170px;
    left: 200px;
    font-size: 13px;
}

#tech{
    position: absolute;
    bottom: 145px;
    left: 200px;
    font-size: 13px;
}

#self{
    position: absolute;
    bottom: 490px;
    left: 200px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    opacity: .8;
}

#hello{
    position: absolute;
    bottom: 390px;
    left: 200px;
    font-size: 50px;
}
#resume-h1{
    position: absolute;
    bottom: 110px;
    left: 200px;
    font-size: 13px;
}

#resume{
    position: absolute;
    bottom: 85px;
    left: 200px;
    font-size: 13px;
}

#contact-text{
    font-family: 'Lexend Mega', sans-serif;
    position: absolute;
    bottom: 300px;
    left: 200px;
    font-size: 20px;
}

#social-links{
    position: absolute;
    font-size: 13px;
    top: 50px;
}

.item{
    min-height: 40rem;
    min-width: 30rem;
    padding: 50px;
}

.item img{
    width: 450px;
    height: 700px;
    border-radius: 1rem;
    pointer-events: none;
}

.inner-carousel{
    display: flex;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}
/* HOME PAGE media queries */ 
@media (max-width: 1280px){
    #nav{
        text-align: center;
        font-size: 100px;
        left: 200px;
    }
    #name{
        text-align: center;
        left: 580px;
        bottom: 100px;
    }
    #location{
        text-align: center;
        left: 540px;
        bottom: 70px;
    }
    #github-icon{
        text-align: center;
        left: 540px;
        bottom: 30px;
    }
    #linkedin-icon{
        text-align: center;
        left: 660px;
        bottom: 30px;
    }
    #email-icon{
        text-align: center;
        left: 780px;
        bottom: 30px;
}
}
@media (max-width: 1024px){
    #nav{
        text-align: center;
        font-size: 80px;
        left: 200px;
    }
    #name{
        text-align: center;
        font-size: 15px;
        left: 475px;
        bottom: 100px;
    }
    #location{
        text-align: center;
        font-size: 15px;
        left: 440px;
        bottom: 70px;
    }
    #github-icon{
        text-align: center;
        left: 440px;
        bottom: 30px;
    }
    #linkedin-icon{
        text-align: center;
        left: 530px;
        bottom: 30px;
    }
    #email-icon{
        text-align: center;
        left: 620px;
        bottom: 30px;
    }
}
@media (max-width: 412px){
    #nav{
        text-align: center;
        font-size: 80px;
        left: 80px;
    }
    #name{
        text-align: center;
        left: 150px;
        bottom: 200px;
    }
    #location{
        text-align: center;
        left: 110px;
        bottom: 170px;
    }
    #github-icon{
        text-align: center;
        left: 110px;
        bottom: 120px;
    }
    #linkedin-icon{
        text-align: center;
        left: 200px;
        bottom: 120px;
    }
    #email-icon{
        text-align: center;
        left: 290px;
        bottom: 120px;
    }
}
    @media (max-width: 280px){
        #nav{
            text-align: center;
            font-size: 80px;
            left: 30px;
        }
        #name{
            text-align: center;
            left: 105px;
            bottom: 100px;
        }
        #location{
            text-align: center;
            left: 70px;
            bottom: 70px;
        }
        #github-icon{
            text-align: center;
            left: 70px;
            bottom:20px;
        }
        #linkedin-icon{
            text-align: center;
            left: 150px;
            bottom:20px;
        }
        #email-icon{
            text-align: center;
            left: 230px;
            bottom:20px;
        }
}

@media (max-width: 540px){
    #nav{
        text-align: center;
        font-size: 80px;
        left: 150px;
    }
    #name{
        text-align: center;
        left: 220px;
        bottom: 160px;
    }
    #location{
        text-align: center;
        left: 160px;
        bottom: 130px;
    }
    #github-icon{
        text-align: center;
        left: 70px;
        bottom:20px;
    }
    #linkedin-icon{
        text-align: center;
        left: 150px;
        bottom:20px;
    }
    #email-icon{
        text-align: center;
        left: 230px;
        bottom:20px;
    }
}